body {
  background-image: url('images/bg.png');
  background-size: cover;
}
.nav, .social {
  min-height: 50px;
  height: 50px;
  padding: 0 auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.social {
  bottom: 0;
}
p, a {
  font-family: 'Teko', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}
p {
  color: #ffffff;
}
a {
  color: #eeeeee;
  text-decoration: underline;
}
.dim {
  opacity: 0.1;
}
.nav ul, .social ul {
  display: inline-block;
  margin: 0 auto;
}
.nav li, .social li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
}
.navinner, .socialinner {
  /* HACK:  */
}
.central {
  min-height: 200px;
  height: 200px;
  display: none;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}
@media screen and (device-width: 400) {
  .central, .centralinner {
    display: none;
  }
}
.central img {
  filter: drop-shadow(10px 10px 10px #ffffff);
  opacity: 1;
  transition: 1;
}
.centralinner {
  /* HACK:  */
  display: block;
  justify-content: center;
  align-content: center;
  align-self: center;
}
