body {
  background-image: url('images/bg.png');
  background-size: cover;
}
.mobilenav {
  display: none;
}
.nav, .social {
  min-height: 50px;
  height: 50px;
  padding: 0 auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.social {
  bottom: 0;
}
p, a {
  font-family: 'Teko', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}
p {
  color: #ffffff;
}
a {
  color: #eeeeee;
  text-decoration: underline;
}
.dim {
  opacity: 0.1;
  bottom: 0;
}
.nav ul, .social ul {
  display: inline-block;
  margin: 0 auto;
}
.nav li, .social li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
}
.mobilenav li {
  list-style-type: none;
}
.navinner, .socialinner {
  /* HACK:  */
}
.central {
  min-height: 200px;
  height: auto;
  margin: 0 auto;
  display: none;
  background-image: url('images/central.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  .navinner, .social {
    display: none;
  }
  .navicon {
    min-width: 25px;
    max-width: 25px;
    min-height: 25px;
    max-height: 25px;
    background-image: url('images/navicon.png');
    background-repeat: no-repeat;
    float: right;
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
  }
  .mobilenav {
    display: none;
    position: fixed;
    z-index: 9999;
    width: 80%;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.75);
  }
}
