.nav {
  background-color: #151515;
  border: none;
  height: 50px;
  width: 100vw;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* position: fixed; */
}
.nav h3 {
  margin-top: 10px;
}
.header {
  height: 250px;
  background-color: #6a1338;
  background-image: url('images/header.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 15px #151515;
}
.main {
  max-width: 700px;
}

/* Stand out! */

w {
  color: #ffffff;
}
.logo {
  background-image: url('images/GEARIcon.png');
  min-width: 50px;
  min-height: 50px;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-right: -20px;
  margin-left: 10px;
}
.logo2 {
  background-image: url('images/logo.png');
  width: 200px;
  height: 200px;
}
p, a {
  color: #6a1338;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 400;
  font-size: 1.15em;
}
a {
  transition: 0.3s;
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
}
.main {
  color: #6a1338;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}
a:hover {
  color: #ffffff;
}
h3 {
  color: #6a1338;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 400;
  font-size: 2em;
}
body {
  background-color: #111111;
  background-image: url('images/bg.png');
}
