body {
  background-color: #1e1e1e;
}

i {
  color: #eeeeee;
}

p, h1, h2, h3, h4 {
  color: #eeeeee;
  font-family: 'Oxygen', sans-serif;
}

.weak {
  opacity: 0.5;
}

.main {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 50%;
  display: none;
}

.social {
  margin: 0 auto;
  display: none;
}

.single {
  margin: 0 auto;
  display: inline;
  padding: 10px;
}
